#
# GRUB configuration file for Vortex86 A9100
#
set default="0"
set timeout="5"

insmod part_msdos
insmod ext2
insmod video
insmod vbe

menuentry "Vortex86 A9100 Linux" {
    set root=(hd0,msdos1)
    linux /boot/bzImage root=/dev/sda2 ro console=ttyS0,115200n8 console=tty0 quiet panic=10
}

menuentry "Vortex86 A9100 Linux (Verbose)" {
    set root=(hd0,msdos1)
    linux /boot/bzImage root=/dev/sda2 console=ttyS0,115200n8 console=tty0 loglevel=7 panic=10
}

menuentry "Vortex86 A9100 Linux (Single User)" {
    set root=(hd0,msdos1)
    linux /boot/bzImage root=/dev/sda2 single console=ttyS0,115200n8 console=tty0 panic=10
}
