#
# GRUB configuration file for Vortex86 A9100
#
set default="0"
set timeout="5"

insmod part_msdos
insmod ext2
insmod video
insmod vbe

menuentry "Vortex86 A9100 Linux" {
    set root=(hd0,msdos1)
    linux /boot/bzImage root=/dev/sda1 ro console=ttyS0,115200n8 console=tty0 quiet
}

menuentry "Vortex86 A9100 Linux (Verbose)" {
    set root=(hd0,msdos1)
    linux /boot/bzImage root=/dev/sda1 console=ttyS0,115200n8 console=tty0 loglevel=7
}

menuentry "Vortex86 A9100 Linux (Single User)" {
    set root=(hd0,msdos1)
    linux /boot/bzImage root=/dev/sda1 single console=ttyS0,115200n8 console=tty0
}
